# App
Config/database.php
Config/settings.json
Vendor/Simpletest/
View/Themed/
webroot/uploads/
*.bak
*.swp

# Cake cache
tmp/

# By default we leave out our override files
www/app/Config/*-dev.php
www/app/Config/*-production.php

# But we want to include our database dev so we can autoconfigure things to use our Vagrant DB
!www/app/Config/database-dev.php

# Others
.DS_Store
./Plugin/*
!./Plugin/Acl
!./Plugin/Extensions
!./Plugin/Example
!./Plugin/Install
!./Plugin/Translate
www/app/Plugin/Stripe

# Vagrant cache and logs
.vagrant/
www/logs

# Composer
www/app/vendor/*

# Development tool folders to ignore
.idea
*.~
1
*.swp
