html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
    text-align: left;
}


.cometchat_online {
	position: relative;
	margin-right: 1px;
	margin-bottom: 1px;
	display:block;
	height: <?php echo $height;?>px;
	width: <?php echo $width;?>px;
	float: left;
}

.cometchat_available {
	background: url(available.jpg);
	bottom:0px;
	right:0px;
	position:absolute;
	height: 9px;
	width: 9px;
}

.cometchat_away {
	background: url(away.jpg);
	bottom:0px;
	right:0px;
	position:absolute;
	height: 9px;
	width: 9px;
}

.cometchat_busy {
	background: url(busy.jpg);
	bottom:0px;
	right:0px;
	position:absolute;
	height: 9px;
	width: 9px;
}

.cometchat_offline {
	background: url(offline.jpg);
	bottom:0px;
	right:0px;
	position:absolute;
	height: 9px;
	width: 9px;
}