.video-chat {
    width: 264px;
    height: 198px;

    position: relative;

    margin-bottom: 2em;
}

#videoChatBox {
    background: gray;
    color: white;
    line-height: 198px;
    text-align: center;

    width: 264px;
    height: 198px;
}

#small-stream {
    position: absolute;
    bottom: 0px;
    right: 0px;

    background: gray;
    color: white;
    line-height: 56px;
    text-align: center;

    border: 1px solid #333;

    width: 75px;
    height: 56px;
}